{% load staticfiles %}
<html>
  <head>
    {% block title %}{% endblock %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>

    <script type="text/javascript" 
            src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <script type="text/javascript" src="{% static "js/slim.js" %}"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-14">
          <p>Navigation</p>
          <p>
            <a href="{% url 'info-home' %}">
              Info home
            </a>
          </p>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <div class="row">
        <div class="col-xs-12">
          <div id="footTag"></div>
        </div>
      </div><!-- /footer -->
    </div><!-- /container -->
  </body>
</html>
