{% load staticfiles %}
{% load i18n %}
<html>
  <head>
    {% block title %}{% endblock %}

   {% block content_head %}{% endblock %}

    <script type="text/javascript" 
            src="{% static "js/jquery.js" %}"></script>

    <script type="text/javascript" 
            src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <script type="text/javascript" src="{% static "js/slim.js" %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" 
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" 
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Navigation</p>
          <p>
            <a href="{% url "home" %}">
              {% trans "home" %}
            </a>
            <a href="{% url 'info-home' %}">
              {% trans "Organized Info" %}
            </a>
          </p>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <div class="row">
        <div class="col-xs-12">
          <div id="footTag"></div>
        </div>
      </div><!-- /footer -->
    </div><!-- /container -->
  </body>
</html>
