{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans "Welcome to info home" %}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Latest</h2>
  </div>
</div>
<div class="row">

  <div class="col-xs-3 pull-right">
    <h4>
      Sidebar
    </h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi
        nesciunt.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi
        nesciunt.
      </p>

  </div>
  <!-- forloop hack for testing, runs 5 times -->
  {% for ii in "12345" %}
    {% include "./excerpt.html" with header_num=ii %}
  {% endfor %}

  <div class="row">
    <div class="col-xs-12">
      <h2>{% trans "Suggest Info" %}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <form>
        {% trans "label1" %}
        <input /> <br>
        {% trans "label2" %}
        <input /><br>
        {% trans "label3" %}
        <br>
        <textarea></textarea><br>
        <button type="submit">{% trans "submit" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
